
body {
  overflow-y: clip;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  /* background-color: #78979d0f; */
  /* background: #78979d0f; */
  /* background-color: #3271e6; */
  /* background: #78979d0f;
  background: url(https://i.pinimg.com/originals/44/6e/3b/446e3b79395a287ca32f7977dd83b290.jpg);
  background-size: cover */
}

.my-p{
  text-decoration-color: rgb(195, 6, 28) !important;
  -webkit-text-decoration-color: rgb(255, 0, 8) !important;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(2, 23, 36, 0); 
  border-radius: 5%;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(86, 86, 87, 0.522); 
  border-radius: 5%;
  height: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3271e6; 
}

.container-svg {
  background-color: rgb(255, 255, 255);
  /* background-color: #02ffcb; */
   overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 13rem;
}